In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
board_members = pd.read_csv('Board_members.csv')
board_members.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,appointed_on,company_number,name,nationality,occupation,officer_role,resigned_on,year_of_birth,surname,first_name,middle_name_1,middle_name_2,middle_name_3,title,second_title
0,0,2018-04-16,00226143,"MCGOVERN, Michael Aidan John",NaN,NaN,secretary,NaN,NaN,MCGOVERN,Michael,Aidan,John,NaN,NaN,NaN
1,1,2017-03-04,00226143,"BICKFORD, Natalie",British,Human Resources Director,director,NaN,NaN,BICKFORD,Natalie,NaN,NaN,NaN,NaN,NaN
2,2,2004-05-22,00226143,"BOWES, Simon Foster",British,Tea Merchant,director,NaN,NaN,BOWES,Simon,Foster,NaN,NaN,NaN,NaN
3,3,2017-03-04,00226143,"BROAD, Benedict Peter",British,Director,director,NaN,NaN,BROAD,Benedict,Peter,NaN,NaN,NaN,NaN
4,4,2011-11-19,00226143,"CONRAN, Sebastian Orby",British,Designer,director,NaN,NaN,CONRAN,Sebastian,Orby,NaN,NaN,NaN,NaN

### Guess gender using gender_guesser

In [3]:
import gender_guesser.detector as gender
d = gender.Detector()

In [4]:
board_members['Gender_guesser'] = board_members.first_name.apply(lambda x: d.get_gender(x, u'great_britain'))

### Plot

In [6]:
import plotly.plotly as py
import plotly.graph_objs as go

ModuleNotFoundError: No module named 'plotly'

In [ ]:
data = [go.Bar(x=board_members.company_number,
            y=board_members.Gender_guesser)]

py.iplot(data, filename='jupyter-basic_bar')